@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../../../root/fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('../../../root/fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  font-style: normal;
  src: url('../../../root/fonts/Oswald-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Vegan';
  font-weight: 400;
  font-style: normal;
  src: url('../../../root/fonts/Vegan-Abattoir.ttf') format('truetype'),
  url('../../../root/fonts/Vegan-Abattoir.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Syncopate';
  font-weight: 700;
  font-style: normal;
  src: url('../../../root/fonts/Syncopate-Bold.ttf') format('truetype');
  font-display: swap;
}

