.home {
  padding: 50px 0 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__inner {
    position: relative;
    padding-top: 80px;
    margin-bottom: 100px;
  }

  &__left {
    position: absolute;
    left: -30px;
    width: 100%;
    max-width: 450px;
    font-size: 80px;
    font-style: normal;
    color: #D06156;
    line-height: 70px;
    text-transform: uppercase;
    @extend %vegan-400;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 0;
    @extend %vegan-400;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-width: 434px;
    max-height: 625px;
    background-size: cover;
  }

  &__img-decoration-l {
    position: absolute;
    left: -330px;
    bottom: -20px;
    font-size: 64px;
    line-height: 24px;
    letter-spacing: -1px;
    text-transform: uppercase;

    -webkit-text-stroke: 1px #4d333e;
    -webkit-text-fill-color: #F6F6F6;
  }

  &__img-decoration-r {
    position: absolute;
    right: -330px;
    bottom: -20px;
    font-weight: 400;
    font-size: 64px;
    line-height: 24px;
    letter-spacing: -1px;
    text-transform: uppercase;

    -webkit-text-stroke: 1px #4d333e;
    -webkit-text-fill-color: #F6F6F6;
  }

  &__right {
    position: absolute;
    top: 100px;
    right: -30px;
    padding-top: 40px;
    z-index: 1;
  }
}

.description {
  position: relative;
  padding-top: 80px;
  margin-bottom: 400px;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: -60px;
    height: 320px;
    width: 0;
    background:linear-gradient(to left, #4d333e 100%, #F6F6F6 20%);  
    z-index: 0;
    transition: width 0.5s;
  }

  &:hover {
    &::after {
      width: 1050px;
    }
  }

  &__headline {
    width: 100%;
    max-width: 630px;
    margin-left: auto;
    font-size: 48px;
    color: #4d333e;
    line-height: 1;
    @extend %syncopate-700;
  }

  &__content {
    position: relative;
    display: flex;
    max-width: 600px;
    margin-left: -30px;
    padding-top: 100px;
    font-size: 48px;
    line-height: 50px;
    text-transform: lowercase;
    color:white;
    mix-blend-mode:difference;
    z-index: 1;
    @extend %syncopate-700;
    
  }


  &__text-l {
    height: 195px;
    line-height: 50px;
  }
}
